.burger {
  position: fixed;
  top: 0;
  right: -230px;
  height: 100%;
  z-index: 1;
  width: 230px;
  background-color: $black;
  transition: all 0.17s ease-in-out 0.17s;

  &__close-btn {
    margin: 20px 0 0 20px;
    width: auto;
    transition: all 0.17s ease-in-out 0.17s;

    &:hover {
      cursor: pointer;
      transform: rotate(90deg);
    }
  }

  &__nav-wrap {
    margin: 25px auto 0 auto;
    text-align: center;

    &-item {
      margin-top: 25px;
      transition: all 0.17s ease-in-out 0.17s;

      &_small-margin {
        margin-top: 10px;
      }

      &_big-margin {
        margin-top: 25px;
      }

      &_hidden {
        display: none;
      }

      &_show {
        display: block;
      }
    }
  }

  &__nav-link {
    color: white;
    transition: all 0.17s ease-in-out 0.17s;

    &_color-change {
      color: $darkgray;
    }
  }

  &_show {
    right: 0;
  }
}
