input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
}

input:focus
{
	outline:0;
}

input,
textarea
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

input[type=file]
{

}

input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

::-webkit-search-decoration
{
	display:none;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	overflow:visible;
	width:auto;
}

::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;
}

textarea 
{
	vertical-align:top;
	overflow:auto;

  &:focus{
    outline: 0;
  }
}

.wpcf7-form {
	max-width: 469px;

	@media (max-width: 960px) {
    margin: 0 15px;
  }

	label {
	color: $lightgray;
	font-size: 24px;
	line-height: 29px;

	@media (max-width: 960px) {
    font-size: 21px;
		line-height: 25px;
  	}

	@media (max-width: 414px) {
    font-size: 16px;
		line-height: 19px;
  	}	
	}

	p {
		margin-top: 0;
	}

	p:nth-child(3) {
			margin-top: 35px;
			@media (max-width: 414px) {
				margin-top: 25px;
  		}	
	}

	p:nth-child(4) {
			margin-top: 35px;
			@media (max-width: 414px) {
				margin-top: 25px;
  		}	
	}

	p:nth-child(5) {
			margin-top: 35px;
			@media (max-width: 414px) {
				margin-top: 25px;
  		}	
	}

	input {
		box-sizing: border-box;
		width: 100%;
		padding: 6px 20px;
		margin-top: 15px;
		height: 45px;
		border: 1px solid $lightgray;
		border-radius: 1px;
		font-family: 'Exo 2', sans-serif;
		font-style: normal;
		font-weight: 200;
		font-size: 24px;
		line-height: 29px;
		color: $black;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transition: all 0.17s ease-in-out 0.17s;

		@media (max-width: 960px) {
    font-size: 21px;
		line-height: 25px;
  		}

		@media (max-width: 414px) {
    font-size: 16px;
		line-height: 19px;
  		}	

		&:hover, &:focus {
			border-color: $black;
		}
	}

	textarea {
		box-sizing: border-box;
		width: 100%;
		padding: 6px 20px;
		margin-top: 15px;
		height: 150px;
		border: 1px solid $lightgray;
		border-radius: 1px;
		font-family: 'Exo 2', sans-serif;
		font-style: normal;
		font-weight: 200;
		font-size: 24px;
		line-height: 29px;
		color: $black;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		resize: none;
		transition: all 0.17s ease-in-out 0.17s;

		@media (max-width: 960px) {
    font-size: 21px;
		line-height: 25px;
  		}

		@media (max-width: 414px) {
    font-size: 16px;
		line-height: 19px;
  		}

		&:hover, &:focus {
			border-color: $black;
		}
	}

	.wpcf7-submit {
		padding: 0;
		margin-top: 0;
		width: 100%;
		height: 45px;
		font-family: 'Exo 2', sans-serif;
  	font-style: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: $lightgray;
		font-size: 24px;

		@media (max-width: 960px) {
    font-size: 21px;
		line-height: 25px;
  		}

		@media (max-width: 414px) {
    font-size: 16px;
		line-height: 19px;
  		}

		&:hover {
			cursor: pointer;
			color: $black;
		}

		&:focus {
			border-color: $lightgray;
		}
	}

	.wpcf7-not-valid-tip {
		box-sizing: border-box;
		color: white;
		background-color: $red;
		width: 100%;
		line-height: 19px;
		font-size: 16px;
		margin-top: 15px;
		padding: 5px 20px;
		border-radius: 1px;
	}

	.wpcf7-response-output {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.wpcf7-validation-errors {
		box-sizing: border-box;
		border: none;
		color: $red;
	}

	.wpcf7-mail-sent-ok {
		box-sizing: border-box;
		border: none;
		color: $green;
	}
} 

