.header {
  clear: right;
  position: relative;

  @media (max-width: 963px) {
    margin: 0 15px;
  }

  &__nav {
    float: right;
  }

  &__logo-link {
    background: url(assets/images/logo.svg) no-repeat center;
    width: 166px;
    height: 22px;
    display: inline-block;
    margin-top: 3px;
    @media (max-width: 961px) {
      margin-top: 0;
    }
  }
}

.no-svg .header__logo-image {
  background: url(assets/images/logo.jpg) no-repeat center;
  width: 166px;
  height: 22px;
  display: inline-block;
  margin-top: 3px;
}