.header {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__logo {
    margin-top: 5px;
    @media (max-width: 961px) {
      margin-top: 0;
    }

    & img {
      width: auto;
    }
  }
}
