.header {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: 960px) {
    margin: 0 15px;
  }

  &__logo-link {
    margin-top: 5px;
    @media (max-width: 961px) {
      margin-top: 0;
    }

  &__logo-image {
      width: auto;
    }
  }
}
