.header__nav {
  @media (max-width: 960px) {
    display: none;
  }

  &-link {
    transition: all 0.17s ease-in-out 0.17s;
  }

  &-wrap {
    margin: 0;
    padding: 0;
  }

  &-wrap-item {
    display: inline-block;
    margin-right: 50px;
  }

  &-wrap-item_no-margin {
    margin-right: 0px;
  }

  &_mobile-btn {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    @media (min-width: 961px) {
      display: none;
  }
  &:hover {
    cursor: pointer;
    }
  }
}

.nav-link {

    &_hover {
    color: $lightgray;
    }
  }
