.mobile-nav-icon {
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  @media (min-width: 960px) {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.header__nav {
  @media (max-width: 960px) {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 50px;
  }

  li:last-child {
    margin-right: 0px;
  }
}