.portfolio-content {

@media (max-width: 663px) {
      margin: 0 15px;
}    

@media (max-width: 580px) {
      margin: 0 55px;
  }

& img {
  width: 100%;
  }

& .wp-caption {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 960px) {
      margin-top: 25px;
  }

  &:first-child {
  margin-top: 0;
} 

  &-text {
    font-size: 16px;
    line-height: 24px;
    max-width: 50%;
    text-align: left;
    margin: 0 0 0 55px;

    @media (max-width: 960px) {
      margin-left: 25px;
      }
    }
  }

  & .aligncenter {
    display: block;

    & .wp-caption-text {
      margin: 55px auto 0 auto;

      @media (max-width: 960px) {
      margin-top: 25px;
      }
    }
  }
}

.width-fix {
  display: block;
}

.margin-fix {
  margin: 55px auto 0 auto;
}
