.portfolio-content {

@media (max-width: 663px) {
      margin: 0 15px;
}    

@media (max-width: 580px) {
      margin: 0 55px;
  }

& img {
  width: 100%;
  }

& .wp-caption {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 960px) {
      margin-top: 25px;
  }
  @media (max-width: 580px) {
      display: block;
  }

  &:first-child {
  margin-top: 0;
} 

  &-text {
    font-size: 16px;
    line-height: 24px;
    max-width: 50%;
    text-align: left;
    margin: 0 0 0 55px;

    @media (max-width: 960px) {
      margin-left: 25px;
      }

    @media (max-width: 580px) {
      margin: 25px auto 0 auto;
      max-width: 70%;
      }

    @media (max-width: 500px) {
      max-width: 90%;
      }

    @media (max-width: 414px) {
      max-width: 100%;
      margin: 15px 0 0 0;
      }    
    }
  }

  & .aligncenter {
    display: block;

    & .wp-caption-text {
      margin: 55px auto 0 auto;

      @media (max-width: 960px) {
      margin-top: 25px;
      }

      @media (max-width: 414px) {
      margin: 15px 0 0 0;
      }    
    }
  }
}
