body {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 200;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 990px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin-top: 110px;

  &_small-margin {
    margin-top: 55px;
  }
}