body {
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 200;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.wrapper {
  max-width: 960px;
  margin: 25px auto 55px;

  @media (max-width: 960px) {
    margin-bottom: 25px;
  }
}

.container {
  margin: 110px auto 110px auto;
  @media (max-width: 960px) {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  @media (max-width: 414px) {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &_small-margin {
    margin-top: 55px;
    margin-bottom: 55px;
    @media (max-width: 960px) {
      margin-top: 25px;
      margin-bottom: 25px;
    }  
  }
  &_narrow {
    max-width: 641px;
  }

  &_narrowest {
    max-width: 469px;
  }
}

h2 {
  margin: 0;  
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $black;
  font-size: 24px;
  line-height: 33px;
  @media (max-width: 414px) {
    font-size: 21px;
    line-height: 28px;
  }
}

p {
  margin: 15px 0 0 0;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: $black;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}
